**Q1:** Write a program to accept percentage from the user and display the grade according to the following 
criteria: 
Marks 
Grade 
>90 
A 
>80 and <=90 
B 
>=60 and <=80 
C 
below 60 
D

In [1]:
percentage = float(input("Enter the percentage: "))

if percentage > 90:
    grade = "A"
elif percentage > 80:
    grade = "B"
elif percentage >= 60:
    grade = "C"
else:
    grade = "D"

print("Grade:", grade)

Enter the percentage:  79

Grade: C

**Q2:** Write a program to accept the cost price of a bike and display the road tax to be paid according to the 
following criteria: 
```
Tax             Cost Price(in Rs)
15% -----        >100000 
10% -----        50000 and <= 100000 
5%  -----        <= 50000 
```

In [4]:
cost_price = float(input("Enter the cost price of the bike (in Rs): "))

if cost_price > 100000:
    tax_percentage = 15
elif cost_price > 50000:
    tax_percentage = 10
else:
    tax_percentage = 5

road_tax = (tax_percentage / 100) * cost_price

print("Road Tax to be paid: Rs", road_tax)

Enter the cost price of the bike (in Rs):  7800000

Road Tax to be paid: Rs 1170000.0

**Q3:** Accept any city from the user and display monuments of that city. 
```
City      Monument 
Delhi  -- Red Fort 
Agra   --Taj Mahal 
Jaipur --Jal Mahal 

```

In [6]:
monuments = {
    "Delhi": ["Red Fort"],
    "Agra": ["Taj Mahal"],
    "Jaipur": ["Jal Mahal"]
}

city = input("Enter the city name: ")

if city in monuments:
    city_monuments = monuments[city]
    print("Monuments in", city + ":")
    for monument in city_monuments:
        print(monument)
else:
    print("No monuments found for", city)

Enter the city name:  Agra

Monuments in Agra:
Taj Mahal

**Q4:**  Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [8]:
number = int(input("Enter a number: "))
count = 0

while number > 10:
    number /= 3
    count += 1

print("The given number can be divided by 3:", count, "times before it is less than or equal to 10.")

Enter a number:  89

The given number can be divided by 3: 2 times before it is less than or equal to 10.

**Q5:** Why and When to Use while Loop in Python give a detailed description with example

The `while` loop in Python is used to repeatedly execute a block of code as long as a certain condition is true. It allows you to create loops that will continue until a specific condition is no longer satisfied.
conditions -- Unknown number of iterations, Continuously monitoring a condition,Iterating through a sequence.

In [11]:
# Sum all numbers from 1 to n
n = int(input("Enter a positive integer: "))
sum = 0
i = 1

while i <= n:
    sum += i
    i += 1

print("The sum of numbers from 1 to", n, "is", sum)

Enter a positive integer:  50

The sum of numbers from 1 to 50 is 1275

**Q6:** Use nested while loop to print 3 different pattern.

In [13]:
#Pattern 1: Square Pattern
n = int(input("Enter the size of the square pattern: "))

row = 1
while row <= n:
    col = 1
    while col <= n:
        print("* ", end="")
        col += 1
    print()
    row += 1

Enter the size of the square pattern:  5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [14]:

#Pattern 2: Right Triangle Pattern
n = int(input("Enter the number of rows for the right triangle pattern: "))

row = 1
while row <= n:
    col = 1
    while col <= row:
        print("* ", end="")
        col += 1
    print()
    row += 1

Enter the number of rows for the right triangle pattern:  5

*
* *
* * *
* * * *
* * * * *

In [15]:
#Pattern 3: Diamond Pattern
n = int(input("Enter the number of rows for the diamond pattern: "))

row = 1
while row <= n:
    col = 1
    while col <= n - row:
        print(" ", end="")
        col += 1
    col = 1
    while col <= 2 * row - 1:
        print("*", end="")
        col += 1
    print()
    row += 1

row = n - 1
while row >= 1:
    col = 1
    while col <= n - row:
        print(" ", end="")
        col += 1
    col = 1
    while col <= 2 * row - 1:
        print("*", end="")
        col += 1
    print()
    row -= 1

Enter the number of rows for the diamond pattern:  5

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

**Q7:**  Reverse a while loop to display numbers from 10 to 1.

In [16]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

**Q8:**  Reverse a while loop to display numbers from 10 to 1.

In [17]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1